/*body{*/
/*    background-image: url('http://getwallpapers.com/wallpaper/full/a/b/3/891388-best-wallpaper-of-study-2560x1440-for-iphone-7.jpg');*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*    !*height: 100%;*!*/
/*    font-family: 'Numans', sans-serif;*/
/*    min-width: 100%;*/
/*    min-height: 100%;*/
/*}*/

.login_card{
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.84) !important;
}


.card-header h3{
    color: white;
}

.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}

.login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover{
    color: black;
    background-color: white;
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}